# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Credenciales de PostgreSQL
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ejercicio_backend

# Cadena de conexión para Prisma ORM (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ejercicio_backend?schema=public"

# Configuración de Base de Datos SQLite (heredada)
DATABASE_PATH=database.sqlite
